*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 21px;
}

/* #region UTILITY */
.d_flex{
    display: flex;
    justify-content: start;
}

/* #endregion UTILITY */

/* #region HEADER */

#title_bar{
    padding: .5rem;
    background: linear-gradient(0deg, rgba(204,204,204,1) 20%, rgba(238,238,238,1) 95%, rgba(255,255,255,1) 100%);
    border-radius: 10px 10px 0 0;
    align-items: center;
    border: 1px solid gray;
}

.title{
    margin: auto;
}
.status_btn{
    width:20px;
    height:20px;
    border-radius: 50%;
    border: 1px solid rgba(20, 20, 20, 0.3);
    display: inline-block;
    margin: 5px;
}
.status_btn.red{
    background: #FC615D;
}
.status_btn.yellow{
    background: #FDBC40;
}
.status_btn.green{
    background: #33C749;
}
.blurred{
    display: inline-block;
    width:150px;
    height: 25px;
    background: gray;
    border: 5px solid white;
    vertical-align: text-bottom;
}
/* #endregion HEADER */



/* #region MAIN */
main{
    background: black;
    /* padding: 5% 8%; */
}

.top_btns{
    justify-content: flex-end;
    padding: 1rem;
}
.top_btns > span{
    margin-left: 10px;
    padding: .5rem;
    border-radius: 5px;
    color:white;
    background: linear-gradient(0deg, rgba(30,30,30,1) 31%, rgba(62,62,62,1) 100%);
}
.speaker_view > img{
    vertical-align: middle;
}

/* videocallers */
.videocalls.d_flex{
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.caller{
    position:relative;
    width: 450px;
    height: 250px;
    margin: 1rem 0.5rem;
}
.caller > img{
    width:100%;
}
.img_overlay{
    position:absolute;
    bottom: 0;
    left: 0;
    color: white;
    background: rgba(0, 0, 0, 0.664);
    padding:5px 10px;
}
/* #endregion MAIN */