*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 21px;
}

/* #region UTILITY */
.d_flex{
    display: flex;
    justify-content: start;
}

/* #endregion UTILITY */

/* #region HEADER */

#title_bar{
    padding: .5rem;
    background: linear-gradient(0deg, rgba(204,204,204,1) 20%, rgba(238,238,238,1) 95%, rgba(255,255,255,1) 100%);
    border-radius: 5px 5px 0 0;
    align-items: center;
}
.status_buttons{

}
.title{
    margin: auto;
}
.status_btn{
    width:20px;
    height:20px;
    border-radius: 50%;
    border: 1px solid rgba(20, 20, 20, 0.3);
    display: inline-block;
}
.status_btn.red{
    background: #FC615D;
}
.status_btn.yellow{
    background: #FDBC40;
}
.status_btn.green{
    background: #33C749;
}
.blurred{
    display: inline-block;
    width:150px;
    height: 25px;
    background: gray;
    border: 5px solid white;
    vertical-align: text-bottom;

}
/* #endregion HEADER */